* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

html, body {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body {
          display: grid;
}

ul, li {
          list-style: none;
}

a {
          text-decoration: none;
}

header {
          position: relative;
          display: flex;
          padding: 20px;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100px;
          background-color: #0093E9;
          background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
          color: white;
}

header ul li {
          margin: 10px;
}

header ul {
          margin: 0;
          padding: 0;
          overflow: none;
          position: relative;
          right: 0;
}

header li {
          display: inline-block;
}

header li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
}

header li a:hover:not(.active) {
          background-color: #111;
}

.active {
          background-color: #04AA6D;
}