:root {
          --very-dark-blue: hsl(233, 47%, 7%);
          --dark-blue: hsl(244, 38%, 16%);
          --soft-violet: hsl(277, 64%, 61%);
        
          /* Font color */
          --paragraph: hsla(0, 0%, 100%, 0.75);
          --stats-headings: hsla(0, 0%, 100%, 0.6);
        
          --font-inter: "Inter", sans-serif;
          --font-lexend: "Lexend Deca", sans-serif;
        }
        
        html {
          box-sizing: border-box;
          font-size: 62.5%;
        }
        
        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }
        
        body {
          background-color: var(--very-dark-blue);
          margin: 0;
          font-family: var(--font-inter);
          min-height: 100vh;
        }
        
        img {
          max-width: 100%;
          height: auto;
          opacity: 0.4;
          display: block;
        }
        
        h1 {
          margin: 0;
          font-size: 2.8rem;
          color: #fff;
        }
        
        p {
          font-size: 1.5rem;
          color: var(--paragraph);
          line-height: 1.5;
        }
        
        span {
          color: var(--soft-violet);
        }
        
        .attribution {
          font-size: 11px;
          text-align: center;
          color: #fff;
        }
        .attribution a {
          color: var(--soft-violet);
        }
        
        .container {
          background-color: var(--dark-blue);
          margin: 3rem 2rem;
          border-radius: 1rem;
          overflow: hidden;
        }
        
        .header {
          background-color: var(--soft-violet);
          overflow: hidden;
        }
        
        .main-content {
          padding: 4rem 3rem 3rem;
          text-align: center;
        }
        
        h1 {
          font-size: 3rem;
        }
        
        p {
          font-size: 1.6rem;
          margin-top: 2.5rem;
        }
        
        .stats {
          margin-top: 5rem;
          display: flex;
          flex-direction: column;
          row-gap: 3rem;
        }
        
        .stat p {
          margin: 0.5rem;
        }
        
        .stat-number {
          color: #fff;
          font-size: 2.8rem;
          font-weight: 700;
        }
        
        .stat-heading {
          text-transform: uppercase;
          color: var(--stats-headings);
          font-size: 1.5rem;
          font-family: var(--font-lexend);
        }
        
        @media screen and (min-width: 768px) {
          img {
            height: 100%;
            object-fit: cover;
          }
        
          body {
            display: flex;
            justify-content: center;
        
            flex-direction: column;
          }
          .container {
            max-width: 1000px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 2fr 430px;
          }
        
          .header {
            grid-column: 2/3;
            grid-row: 1/1;
          }
        
          .main-content {
            grid-column: 1/2;
            grid-row: 1/1;
            padding: 7rem 3rem 6rem 7rem;
            text-align: left;
            max-width: 85%;
          }
        
          .stats {
            flex-direction: row;
            justify-content: space-between;
          }
        
          .attribution {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: yellow;
          }
          .attribution a{
                    text-decoration: none;
          }
}