:root {
          --parent-width: 230px;
          --parent-height: 50px;
          --link-width: 30px;
          --color-bg: #F0F5;
          --color-parent: white;
          --color-overlay: #1e6cfb;
          --default-padding: 10px;
          --timing-animation: .3s;
          --color-text: grey;
}

/* body {

} */

.container1 {
          cursor: pointer;
          /* padding: 5px; */
          /* margin-bottom: 1000px; */
          display: flex;
          /* width: 100vw;
          height: 50vh; */
          background-color: var(--color-bg);
          justify-content: center;
          align-items: center;
}

.shareButtons {
          position: relative;
          width: var(--parent-width);
          height: var(--parent-height);
          background-color: var(--color-parent);
          padding: 0 var(--default-padding);
          border-radius: 25px;
          overflow: hidden;
}

.shareButtons_text {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          font-family: Helvetica sans-serif;
          color: var(--color-text);
          display: flex;
          align-items: center;
          justify-content: center;
}

.shareButtons_overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: transparent;
          transition: all var(--timing-animation);
}

.shareButtons_links {
          position: relative;
          display: flex;
          /* width: 20%; */
          /* background-color: transparent; */
}

.shareButtons_link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--link-width);
          height: var(--link-width);
          background-color: var(--color-parent);
          border-radius: 50%;
          cursor: pointer;
          transform: translateY(calc(100% * 2));
          margin: var(--default-padding) calc(var(--default-padding)/2);
          transition: all var(--timing-animation);
          /* background-color: transparent; */
}

.i {
          width: 50%;
          height: 50%;
}

.shareButtons:hover .shareButtons_overlay{
          background-color: var(--color-overlay);
}

.shareButtons:hover .shareButtons_link{
          transform: translateY(0);
}

.shareButtons_link:nth-child(2){
          transition-delay: .05s;
}
.shareButtons_link:nth-child(3){
          transition-delay: .1s;
}
.shareButtons_link:nth-child(4){
          transition-delay: .15s;
}